<div class="filters">
    <mat-form-field>
      <mat-label>Sort</mat-label>
      <mat-select
        panelClass="sort-select"
        [(ngModel)]="sort"
       
      >
        <mat-option value="name">Name</mat-option>
        <mat-option value="-released">Released</mat-option>
        <mat-option value="-added">Added</mat-option>
        <mat-option value="-created">Created</mat-option>
        <mat-option value="-updated">Updated</mat-option>
        <mat-option value="-rating">Rating</mat-option>
        <mat-option value="metacritic">Metacritic</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="games">  
    <div class="game">
     
        <div class="game-thumb-container">
          <img
          
            src="https://www.dualshockers.com/static/uploads/2021/07/Mortal-Kombat-Developers-Working-on-Next-Game-No-More-DLC-For-MK11.jpg"
            alt="thumbnail"
            class="game-thumbnail"
          />
        
        </div>
        <div class="game-description">
            <p class="game-name">Name</p>
          
          <div class="game-platforms">
            <img         
              class="game-platform"
              src="https://cdn.shopify.com/s/files/1/2374/3709/products/PLAYSTATION_THUMB_590x.png?v=1544579365"
              alt="slug"
            />
          </div>
        </div>
    <
  